.calculadora {
    padding: 10px;
    background: rgb(0, 0, 0);
    width: 200px;
    border-radius: 20px;
}
.listaMensal{
    padding: 10px;
    background: rgb(0, 47, 255);
    width: 200px;
    border-radius: 20px;
}
.calculadora input {
    background: black;
    color: blue;
   border-radius: 15px;
   height: 25px;
}
 
.spResul {
    background: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    padding: 5px;
    margin: 5px;
    border-radius: 15px;

}

#btnCalc {
    width: 60px;
    padding: 5px;
    background: rgb(47, 0, 255);
    margin-top: 20px;
    border-radius: 20px;
}

#btnCalc:hover {
    background:red;
    color:blue;
    cursor: help;
}
